{% extends 'base.html' %}
{% load static  %}
{% block content %}
<div class="content-wrapper" style="min-height: 652px;">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h4 class="page-title">Details</h4>
					<div class="d-inline-block align-items-center">
	
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">

		  <div class="row">
			<div class="col-lg-12">
				<div class="box">
					<div class="box-body">
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<div class="box box-body b-1 text-center no-shadow">
									<img src="{% static 'images/product/hp.jpg' %}" id="product-image" class="img-fluid" alt="">
								</div>
								<div class="pro-photos">
									<div class="photos-item item-active">
										<img src="{% static 'images/product/hp1.jpg' %}" alt="">
									</div>
									<div class="photos-item">
										<img src="{% static 'images/product/hp2.jpg' %}" alt="">
									</div>
									<div class="photos-item">
										<img src="{% static 'images/product/hp3.jpg' %}" alt="">
									</div>
									<div class="photos-item">
										<img src="{% static 'images/product/hp4.jpg' %}" alt="">
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="col-md-8 col-sm-6">
								<h2 class="box-title mt-0">HP Gigabook prov5</h2>

								<h1 class="pro-price mb-0 mt-20">$270
										
									</h1>
								<hr>
								<p>Awesome Long lasting laptop with slkeek elegant design. More Desription about the product and some more features</p>
								<div class="row">
									<div class="col-sm-12">
										<h6>Details</h6>
										
										<p class="mb-0">
											<span class="badge badge-pill badge-lg badge-primary">Available units: 12</span>
											<span class="badge badge-pill badge-lg badge-success">Pending Arrival: 37</span>
											<span class="badge badge-pill badge-lg badge-secondary">Sold: 345</span>
										</p>
									</div>
								</div>
								<hr>
								<div class="gap-items">
									<button class="btn btn-success"><i class="fas fa-credit-card"></i> Order</button>
									<button class="btn btn-primary"><i class="fas fa-shopping-plus"></i> Add To Cart</button>
								</div>
								<h4 class="box-title mt-20">Key Highlights</h4>
								<ul class="list-icons list-unstyled">
									<li><i class="fa fa-check text-danger me-3"></i> Grey metallic design</li>
									<li><i class="fa fa-check text-danger me-3"></i>Long Battery Life</li>
									<li><i class="fa fa-check text-danger me-3"></i> Powerful Gpu</li>
								</ul>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12">
								<h4 class="box-title mt-40">General Info</h4>
								<div class="table-responsive">
									<table class="table">
										<tbody>
											<tr>
												<td width="390">Brand</td>
												<td> Hewlett Packard </td>
											</tr>
											<tr>
												<td>Delivery Condition</td>
												<td> Good</td>
											</tr>
											<tr>
												<td>Type</td>
												<td> Electronic Gadget </td>
											</tr>
											<tr>
												<td>Category</td>
												<td> Non perishable </td>
											</tr>
											<tr>
												<td>Product Number</td>
												<td> FG1548952 </td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>				
				</div>
			</div>
		</div>

		</section>
		<!-- /.content -->
	  </div>
  </div>
  {% endblock %}